---
// FRONTMATTER
// Component Imports
import { Markdown }  from 'astro/components'
import MainLayout from '../layouts/MainLayout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<style>

	.intro {
	padding-bottom: 4rem;
	margin-bottom: 2rem;
	border-bottom: 4px solid var(--theme-divider);
	}

	.intro > * {
	margin: 0;
	}

	.latest {
	font-size: 2.5rem;
	font-weight: 700;
	}
</style>

<MainLayout content={{title}}>
	<section class="intro">
		<h1 class="latest">{title}</h1>
		<p>{description}</p>
	</section>
	
	<Markdown>
		### Learn a bit more about us 

		[Here](/about)
	</Markdown>

	<section>
		{allPosts.map(p => <BlogPostPreview post={p} />)}
	</section>
</MainLayout>