---
import BaseHead from '../components/BaseHead.astro';

let title = 'My Astro Site';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---


<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink}  />
	</head>
	<body>
		<slot />
	</body>
</html>